name: Build and Release Electron App

on:
    push:
        tags:
            - "v*"

jobs:
    build-and-release:
        runs-on: ${{ matrix.os }}
        strategy:
            matrix:
                os: [ubuntu-latest, macos-latest, windows-latest]
        permissions:
            contents: write

        steps:
            - name: Checkout code
              uses: actions/checkout@v4

            - name: Setup Node.js
              uses: actions/setup-node@v4
              with:
                  node-version: "20"

            - name: Install dependencies
              run: npm install

            - name: Build and Publish
              run: npm run publish
              env:
                  GITHUB_TOKEN: ${{ secrets.GH_PAT }}
